.tCentered {
                text-align: center;
            }

            .darkGray {
                border-top: 1px #D0D0D0 solid;
                border-bottom: 1px #D0D0D0 solid;
                background-color:#F0F0F0;
                padding-top: 10px;
                padding-bottom: 10px;
                max-height: 42px;
            }

            .lightGray {
                border-top: 1px #D8D8D8 solid;
                border-bottom: 1px #D8D8D8 solid;
                background-color:#F8F8F8;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .numaLinha {
                width: 300%;
                position: relative;
                right: 70%;
            }

            .botaoDepois {
                border-radius: 10px 0px 0px 10px;
                width: 60%;
            }

            .botaoAntes {
                border-radius: 0px 10px 10px 0px;
                width: 20%;
            }

            .numalinha {
                display: inline-block;
            }

            .estaEditando {

            }

            .se {
                width: 250%;
            }

            .noMeio {
                position: absolute;
                left: 50%; 
                transform: translateX(-50%);
            }