<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Emails!</title>
		<%= stylesheet_link_tag "application", media: "all" %>
		<body>
			<div id="app">
				<center>
					<%= render "shared/menu" %>
					<a href="/account/new">Criar nova conta</a>
					<br/>

					<form action="/account/login" method="POST">
						<fieldset>
							<legend>Logar</legend>
							<input class="text" placeholder="Seu nome" name="user[nome]" type="text"/><br/>
							<input class="text" placeholder="Senha" name="user[senha]" type="password"/><br/>
							<input class="btn btn-default" name=""  name="" type="submit" value="Logar"/></fieldset>
					</form>
			</center>
		</div>
	</body>
</html>
